<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="predefinedIngredients" value="predefinedIngredients.xml" />
		<add key="predefinedDishes" value="predefinedDishes.xml" />
		<add key="orders" value="orders.xml" />
		<add key="minimalCookTime" value="0.1" />
		<add key="dishMargin" value="2.5" />
		<add key="maximumTableNumber" value="50" />
	</appSettings> 
</configuration>